body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0 200px 0;
}

.board {
    display: flex;
    width: 90%;
    max-width: 1200px;
    gap: 20px;
}

.column {
    background-color: #ebecf0;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.column-header {
    font-weight: bold;
    margin-bottom: 10px;
}

.note {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    cursor: grab;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note span:focus-visible {
    border-bottom: 1px dashed #0079bf;
    outline: none;
    padding-bottom: 2px;
}

.note span {
    overflow-wrap: anywhere;
    cursor: text;
    padding-bottom: 2px;
}

.add-note {
    background-color: #0079bf;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    position: fixed;
    left: 5%;
    bottom: 5%;
    font-size: 15px;
}

.add-note:hover {
    background-color: #005a8e;
}

.delete-note {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.delete-note:hover {
    background-color: #c0392b;
}
